{% extends "base.html" %}

{% block content %}

<div class="author">
    <h3><em>J. M. Koelewijn v 2.0</em></h3>
</div>

<div class="left_panel">
    <div class="left_panel_text">

        <h1 style="float: right;">Headspace Helper</h1>

        <ul class="left_panel_list">
            <li>Upload all <span style="color: #48dbfb;">.txt</span> and <span style="color: #48dbfb;">.pdf</span> files.</li>
            <li>Click <span style="color: #48dbfb;">Extract data</span>.</li>
            <li>Download <span style="color: #48dbfb;">excel template</span>!</li>
        </ul>
        <object class="left_panel_logo" data="{{ url_for('static', path='/icons/erlenmeyer.svg') }}" width="125" height="125"></object>

    </div>
</div>

<div class="left_reminder">

    <ul class="left_reminder_list">
        <strong>General:</strong>
        <li>Best practice is to store all output <span style="color: #48dbfb;">.txt</span> and CoA <span style="color: #48dbfb;">.pdf</span> files in the diproma folder.</li>
        <br>
        <strong>CoA files:</strong>
        <li>Upload up to <span style="color: #48dbfb;">12</span> CoA files.</li>
        <li>Use standardized format for all CoA files:<br>
            "<span style="color: #48dbfb;">SolventAbreviation Manufacturer Catalog# Lot# ExpirationDate(mmmYYYY) purity(00.00%).pdf</span>".</li>
        <li>Example of correct CoA file:<br>
            "<span style="color: #48dbfb;">EtOH Fisher E0650DF15 2034615 Feb2025 99.99%.pdf</span>".</li>
        <li>Solvent abbreviation used for the Headspace measurement should match with the CoA file!</li>
        <li>For diluent use abbreviation: <span style="color: #48dbfb;">NMP</span>, <span style="color: #48dbfb;">DMAC</span> or <span style="color: #48dbfb;">DMI</span>.</li>
        <li><span style="color: #48dbfb;">Heptanes</span> is not supported <span style="color: #48dbfb;">n-heptane</span> is.</li>
        <br>
        <strong>Txt files:</strong>
        <li>Upload <span style="color: #48dbfb;">8</span> to <span style="color: #48dbfb;">12</span> A-files</li>
        <li>Upload up to <span style="color: #48dbfb;">8</span> B-files.</li>
        <li>Upload up to <span style="color: #48dbfb;">5</span> sample files.</li>
        <li>Examples of correct sample formats:</li>
                <ul style="list-style-type: none;">
                    <li><span style="color: #48dbfb;">XYZ12345-#-#-1_<em>rest</em></span></li>
                    <li><span style="color: #48dbfb;">XYZ12345678-#-#-1_<em>rest</em></span></li>
                </ul>
        <li>Examples of correct spiked sample formats:</li>
                <ul style="list-style-type: none;">
                    <li><span style="color: #48dbfb;">XYZ12345-#-#-S-A1_<em>rest</em></span></li>
                    <li><span style="color: #48dbfb;">XYZ12345678-#-#-S-A1_<em>rest</em></span></li>
                </ul>
        <br>

    </ul>

</div>

<div class="right_panel">
    <div>
        <h2 class="right_panel_text" style="margin-left: 10px; margin-top: 10px;">Upload all <span style="color: #48dbfb;">.txt</span> and <span style="color: #48dbfb;">.pdf</span> files.</h2>
    </div>
    <form action="/upload_files" method="post" enctype="multipart/form-data">
    <div style="margin-bottom: 65px; margin-left: 10px" class="input-group extract_data">
        <input type="file" name="files" class="form-control js--extract_data pulsed" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload" multiple>
        <button style="color: #48dbfb;" class="btn btn-outline-secondary js--extract_data_btn hidden" type="submit" id="inputGroupFileAddon04">Extract data</button>
    </div>
    </form>
    <object class="right_panel_logo" data="{{ url_for('static', path='/icons/files.svg') }}" width="125" height="125"></object>
</div>

<div class="right_error_panel">
    <h2>test</h2>
</div>



{% endblock %}


